{% extends "base.html" %}

{% block script %}
<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
		 var map;
		 function init () {
		   map = new YMaps.Map( document.getElementById("YMapsID") );
		   map.setCenter(new YMaps.GeoPoint(60.598469,56.835981), 15,
				  YMaps.MapType.MAP);

YMaps.Events.observe(map, map.Events.Click, function (map, mEvent) {
                var myHtml = "Значение: " + mEvent.getGeoPoint() +
					"<br>";
                map.openBalloon(mEvent.getGeoPoint(), myHtml);
});
            map.addControl(new YMaps.TypeControl());
            map.addControl(new YMaps.ToolBar());
            map.addControl(new YMaps.Zoom());
}
</script>
{% endblock %}

{% block content %}
<body onload="init();">
<h2 align="center">
	Добавление воспоминаний
</h2>
<div class="container">
	<div class="row">
		<p>
			Выберите место на карте и введите название и описание
		</p>
	</div>
</div>
	<div class="container">
	  <div class="row">
		<div class="col">
			<div id="YMapsID" style="width:600px; height:400px;"></div>
			<p></p>
		</div>

		<div class="col">
	<form action="{% url 'memories:save_memory' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<p>Название:</p>
				<input name="namepoint" class="form-control" type="text"><br>
		</div>
		<div class="form-group">
			<p>Описание: <br><textarea name="descriptpoint" class="form-control"></textarea></p>

			<input name="pcoord" type="hidden" value="'+mEvent.getGeoPoint()+'" />
		</div>
		<p><input name="subpoint" class="btn btn-success" type="submit" value="Сохранить" /></p>
	</form>
		</div>
	  </div>
	</div>
{% endblock %}